ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
body{
    margin: 0%;
}

header>nav{
    padding:0% 22%;
    background-color: darkslategrey;
    color: white;
    display: flex;
    justify-content: space-between;
}
nav>.titre{
    display: flex;
    /* justify-content: flex-end; */
}
nav>.menu{
    display:flex;
    /* justify-content: flex-end; */}
.menu>ul{
    display: flex;
    /* justify-content: space-around; */ */
    /* padding: 3% 0%;
    padding-right:30px;
    width: 350px; */
}
.menu li{
    margin-right: 30px;
}
/* div avataar */
.avataar{
    background-color: firebrick;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avataar img{
    height: 150px;
}
/* portfolio */
.section_port{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio{
    width: 75%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}
.portfolio_images img{
    border-radius: 5px;
    width: 31%;
    margin: 5px;
}
h2{
    text-align: center;
    color: darkslategray;
}
